In [1]:
import pandas as pd

# Load CSV
df = pd.read_csv(r"C:\Users\Diksha\OneDrive\Desktop\presentation\archive.zip")
df

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [2]:
# Preview
print(df.head())
print(df.info())
print(df.isnull().sum())

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB
None
gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [3]:
print("\nData types of each column:")
print(df.dtypes)

Data types of each column:
gender                         object
race/ethnicity                 object
parental level of education    object
lunch                          object
test preparation course        object
math score                      int64
reading score                   int64
writing score                   int64
dtype: object

# 2. Check for duplicate rows or invalid data entries.

In [4]:
# Duplicate rows
duplicates = df.duplicated().sum()
print(f"\nNumber of duplicate rows: {duplicates}")

# Drop duplicates if any
df = df.drop_duplicates()

# Check shape after drop
print(f"Shape after dropping duplicates: {df.shape}")

Number of duplicate rows: 0
Shape after dropping duplicates: (1000, 8)

# 3. Standardize Categorical Values

In [5]:
# Lowercase and strip whitespace for consistency
df['gender'] = df['gender'].str.strip().str.lower()
df['race/ethnicity'] = df['race/ethnicity'].str.strip().str.title()
df['parental level of education'] = df['parental level of education'].str.strip().str.title()
df['lunch'] = df['lunch'].str.strip().str.lower()
df['test preparation course'] = df['test preparation course'].str.strip().str.lower()
print("Gender categories:", df['gender'].unique())
print("Race/Ethnicity groups:", df['race/ethnicity'].unique())
print("Parental Education Levels:", df['parental level of education'].unique())
print("Lunch types:", df['lunch'].unique())
print("Test Preparation Course statuses:", df['test preparation course'].unique())

Gender categories: ['female' 'male']
Race/Ethnicity groups: ['Group B' 'Group C' 'Group A' 'Group D' 'Group E']
Parental Education Levels: ["Bachelor'S Degree" 'Some College' "Master'S Degree" "Associate'S Degree"
 'High School' 'Some High School']
Lunch types: ['standard' 'free/reduced']
Test Preparation Course statuses: ['none' 'completed']

# 4.Add derived columns:

## Average Score = (Math + Reading + Writing)/3

In [6]:
df['average_score'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
print(df['average_score'].head())

0    72.666667
1    82.333333
2    92.666667
3    49.333333
4    76.333333
Name: average_score, dtype: float64

## Performance Category: Low, Medium, High based on average score

In [7]:
def performance_level(score):
    if score >= 80:
        return "High"
    elif score >= 60:
        return "Medium"
    else:
        return "Low"

df['performance_category'] = df['average_score'].apply(performance_level) 
print(df['performance_category'].head())  # Top 5 students

0    Medium
1      High
2      High
3       Low
4    Medium
Name: performance_category, dtype: object

In [8]:
print(df[['average_score', 'performance_category']])

     average_score performance_category
0        72.666667               Medium
1        82.333333                 High
2        92.666667                 High
3        49.333333                  Low
4        76.333333               Medium
..             ...                  ...
995      94.000000                 High
996      57.333333                  Low
997      65.000000               Medium
998      74.333333               Medium
999      83.000000                 High

[1000 rows x 2 columns]

## Preparation Effectiveness: Compare scores with and without test prep

In [9]:
df['test preparation course'] = df['test preparation course'].str.strip().str.lower()
# Create new column based on test prep status
df['prep_effectiveness'] = df['test preparation course'].apply(lambda x: "Completed" if x == "completed" else "None")
print(df[['test preparation course', 'prep_effectiveness']].head(10))
print(df[['test preparation course', 'prep_effectiveness']].head(10))

  test preparation course prep_effectiveness
0                    none               None
1               completed          Completed
2                    none               None
3                    none               None
4                    none               None
5                    none               None
6               completed          Completed
7                    none               None
8               completed          Completed
9                    none               None
  test preparation course prep_effectiveness
0                    none               None
1               completed          Completed
2                    none               None
3                    none               None
4                    none               None
5                    none               None
6               completed          Completed
7                    none               None
8               completed          Completed
9                    none               None

In [10]:
prep_comparison = df.groupby('test preparation course')[['math score', 'reading score', 'writing score', 'average_score']].mean()
print("Average Scores based on Test Preparation:")
print(prep_comparison)

Average Scores based on Test Preparation:
                         math score  reading score  writing score  \
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

                         average_score
test preparation course
completed                    72.669460
none                         65.038941

In [11]:
print("\n Final dataset preview:")
print(df.head())

 Final dataset preview:
   gender race/ethnicity parental level of education         lunch  \
0  female        Group B           Bachelor'S Degree      standard
1  female        Group C                Some College      standard
2  female        Group B             Master'S Degree      standard
3    male        Group A          Associate'S Degree  free/reduced
4    male        Group C                Some College      standard

  test preparation course  math score  reading score  writing score  \
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75

   average_score performance_category prep_effectiveness
0      72.666667               Medium               None
1      82.333333                 High          Completed
2      92.666667                 High               None
3      49.333333                  Low               None
4      76.333333               Medium               None

In [12]:
df.to_csv("final_cleaned_student_data.csv", index=False)
print("\n Cleaned dataset saved as: final_cleaned_student_data.csv")

 Cleaned dataset saved as: final_cleaned_student_data.csv